*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1400px;
    margin: auto;
}

.search-box{
    width: fit-content;
    margin: auto;
}



.card{
    width: 180px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.move-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.move-page>img {
    width: 30px;
    height: 40px;
}

.book-title{
    text-align: center;
    overflow: hidden;
}

.price{
    font-size: medium;
    text-align: center;
}

.zero {
    font-size: medium;
    color: red;
    text-align: center;
}

.book-info{
    font-size: small;
    text-align: center;
}


