*{
    padding: 0;
    margin: 0;
}
h1{
   text-align: center;
}
#map{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}
img{
    width: 50px;
    height: 50px;
}
.map1{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top : 24px;
    right: 24px;
}
.box{
    width: 50px;
    height: 50px;
    background-color: rgb(192, 162, 65);   
    border:solid 1px black;
    box-sizing: border-box;
}

.box1:hover{
    border:solid 1px aliceblue;
    box-sizing: border-box;
}

.box1{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(34, 34, 152, 0);
}

#btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

button{
    padding: 5px 10px;
}